<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>modify</title>
</head>
<body>

<h1>@ requestParma 을 이용하여 전달된 파라미터 꺼내기</h1>

<h3>메뉴 수정하기</h3>
<form action="modify" method="post">
    <label for="modifyName">수정할 메뉴 이름</label>
    <input type ="test" name="modifyName" id="modifyName"/>
    <label for="modifyPrice">수정할 메뉴 가격</label>
    <input type ="test" name="modifyPrice" id="modifyPrice"/>

    <button>수정하기</button>
</form>

<h3>메뉴 수정하기2</h3>
<form action="modifyAll" method="post">
    <label for="modifyName">수정할 메뉴 이름</label>
    <input type ="test" name="modifyName" id="modifyName2"/>
    <label for="modifyPrice">수정할 메뉴 가격</label>
    <input type ="test" name="modifyPrice" id="modifyPrice2"/>

    <button>수정하기</button>

</form>
</body>
</html>