<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        function checkPermission() {
        // 권한 선택 select box에서 선택된 값을 가져옵니다.
            var selectBox = document.getElementById("permissions");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;

            // 선택된 값이 "비정상응답"인 경우 경고창을 띄웁니다.
            if (selectedValue === "비정상응답") {
                alert("잘못된 요청입니다.");
            } else if (selectedValue === "정상응답") {
            // 선택된 값이 "정상응답"인 경우 사용자가 입력한 값을 가져옵니다.
                var userInput = document.getElementById("pathValue").value;
                // 입력한 메시지를 sessionStorage에 저장
                sessionStorage.setItem("userInput", userInput);
                // 폼 제출
                document.getElementById("myForm").submit();
            }
        }
    </script>

</head>
<body>

<form id="myForm" action="/mission1" method="get">
    <!-- 사용자 입력을 받는 텍스트 입력 필드 -->
    <input type="text" name="pathValue" id="pathValue"/>
    <!-- 전송 버튼 -->
    <input type="submit" value="전송">

    <!-- 권한 선택을 위한 select box -->
    <label for="permissions">권한 선택:</label>
    <select id="permissions" name="permissions">
        <option value="정상응답">정상 응답</option>
        <option value="비정상응답">비정상 응답</option>
    </select>
    <br><br>
    <!-- 확인 버튼 클릭 시 checkPermission() 함수를 호출하여 처리 -->
    <input type="button" value="확인" onclick="checkPermission()">


</form>
</body>
</html>